<!DOCTYPE html>
<html lang="es">
    <%- include('adminHead') %>
<body>
    <%- include('adminHeader') %>
    
    <div class="container-fluid">
      <div class="row">
        
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>Productos</h2>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                <a href="/admin/create" class="btn btn-sm btn-outline-secondary">Agregar</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">CategoryId</th>
                  <th scope="col">Medidas</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Origen</th>
                  <th scope="col">Descuento</th>
                </tr>
              </thead>
              <tbody>
                  <% products.forEach(product => { %>
                    <tr>
                        <td><%- product.id%></td>
                        <td><%- product.productName%></td>
                        <td><%- product.description%></td>
                        <td><%- product.categoryId%></td>
                        <td><%- product.measures%></td>
                        <td><%- product.price%></td>
                        <td><%- product.origin%></td>
                        <td><%- product.discount%></td>
                        <td>
                            <form action="/admin/delete/<%= producto.id %>?_method=DELETE" method="POST">
                                <button class="delete-button"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    <div class="modal-background">
                        <div class="modal">
                            <p>Estas seguro de que desea eliminar este producto?</p>
                            <p>Esta acción no se puede deshacer</p>
                            <p><%= producto.id %></p>
                            <div class="modal-button">
                                <form action="/admin/delete/<%= producto.id %>?_method=DELETE" method="POST">
                                    <button type="submit" id="button-delete">Eliminar</button>
                                </form>
                                <button id="button-cancel"><a href="/admin/products">Cancelar</a></button>
                            </div>
                        </div>
                    </div>
                <% }) %> 
            </tbody>
        </table>
        <%- include('../partials/botonSubir.ejs') %>
    </main>
    <script src="/js/botonSubir.js"></script>
    <script src="/js/modalWindow.js"></script>
</body>
</html>