<!DOCTYPE html>
<html lang="es">
    <%- include ('../admin/adminHead.ejs') %>
<body>
    <%- include ('../admin/adminHeader.ejs') %>
    <main class="admin-main-product">
        <div class="head-bar">
            <h4>Lista de productos</h4>
            <a href="/admin/create"><div class="add-button">Agregar</div></a>
        </div>
        
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Descuento</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(producto => { %>
                    <tr>
                        <th scope="row"><%= producto.id %></th>
                        <td><%= producto.productName %></td>
                        <td><%= producto.category.name %></td>
                        <td><%= producto.price %></td>
                        <td><%= producto.discount %></td>
                        <td><a href="/admin/edit/<%= producto.id %>"><div class="edit-button"><i class="fas fa-pen"></i></div></a></td>
                        <td>
                            <form action="/admin/delete/<%= producto.id %>?_method=DELETE" method="POST">
                                <button class="delete-button"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    <div class="modal-background">
                        <div class="modal">
                            <p>Estas seguro de que desea eliminar este producto?</p>
                            <p>Esta acción no se puede deshacer</p>
                            <p><%= producto.id %></p>
                            <div class="modal-button">
                                <form action="/admin/delete/<%= producto.id %>?_method=DELETE" method="POST">
                                    <button type="submit" id="button-delete">Eliminar</button>
                                </form>
                                <button id="button-cancel"><a href="/admin/products">Cancelar</a></button>
                            </div>
                        </div>
                    </div>
                <% }) %> 
            </tbody>
        </table>
        <%- include('../partials/botonSubir.ejs') %>
    </main>
    <script src="/js/botonSubir.js"></script>
    <script src="/js/modalWindow.js"></script>
</body>
</html>