<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head.ejs', {title: 'Resultados de tu búsqueda' }) %>

		<body>
			<!-- Header -->
			<%- include('partials/header.ejs') %>
				<!-- /Header -->
				<main class="home">

					<!-- Sección de productos -->
					<div class="section-cardsimperio1">
						<h2>Resultados de la búsqueda: <%= search %>
						</h2>

						<div class="cardsnproduct">

							<% if (result.length> 0 ) { %> <% result.forEach(product=> { %>
									<!--    <a href="/detalleDelProducto/<%- product.id %>"> -->
									<div id="cardimp">
										<div class="star" id="btnFav">
											<figure class="myImage" id="<%- product.id %>">
											</figure>
										</div>
										<a href="/product/detail/<%= product.id %>">
											<div class="img-producto">
												<img src="/images/products/<%- product.images[0]?.image %>"
													alt="<%- product.productName %>" />
											</div>
											
											<div class="description-product">

												<h4>
													<% if (product.productName.length> 20) { %>
														<% let productoSlice=product.productName.slice(0,20) %>
															<%= productoSlice %>...

																<% } else { %>
																	<%- product.productName %>
																		<% } %>
												</h4>
												
												<% if (product.discount !==0) { %>
													<div class="withDiscount">
														<small>$<%- toThousand(product.price) %></small>
														<span>
															<%- product.discount !==0 ? `${product.discount}% OFF`
																: '' %>
														</span>
													</div>
													<h3>$<%- toThousand(product.price - product.price *
															product.discount / 100) %>
													</h3>

													<% } else { %>
														<h3>
															$<%- toThousand(product.price) %>
													</h3>

														<% } %>

											</div>
										</a>
									</div>
									<!-- </a> -->
									<% }); %>
										<% } else { %>
											<div class="dBlock">
												<h2 style="color: tomato">
													No hay productos que coincidan con esa búsqueda
												</h2>
												<div style="height: 250px;"></div>
											</div>
											<% } %>

						</div>
						<div class="arrow-top">
							<a href="#"><img src="/img/iconos-png/arrow-top.png" alt="" /></a>
						</div>
						
					</div>
				</main>

				<!-- Comienzo del footer -->
				<%- include('partials/footer.ejs') %>
					<!-- Fin del footer -->
		</body>

</html>